@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.text-display {
  @apply text-[4rem] md:text-[2rem] leading-[4.5rem] md:leading-[2.5rem] font-semibold;
}

.text-title {
  @apply text-[2rem] md:text-[1.5rem] leading-[3rem] md:leading-[1.8rem] font-bold;
}

.text-subtitle {
  @apply text-[1.8rem] md:text-[1.2rem] leading-[2.5rem] md:leading-[1.8rem] font-bold;
}

.text-subdisplay {
  @apply text-[1.25rem] leading-[1.75rem] md:text-[1rem] md:leading-[1.25rem];
}

.text-button {
  @apply text-[1.25rem] leading-[1.75rem] md:text-[1rem] md:leading-[1.25rem] font-semibold;
}

.text-small {
  @apply text-[0.8rem] leading-[1rem] md:text-[0.7rem] md:leading-[0.8rem];
}

.text-body {
  @apply text-[1rem] leading-[1.5rem];
}

.text-subbody {
  @apply text-[0.9rem] leading-[0.9rem];
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
